@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --color-premium-black: #1C1917;
  --color-premium-gray: #44403C;
  --color-premium-gold: #CA8A04;
  --color-premium-bg: #FAFAF9;
}

html, body {
  font-family: var(--font-sans);
  background-color: var(--color-premium-bg);
  color: var(--color-premium-black);
  overflow-anchor: none;
  scroll-behavior: smooth;
}

button, 
[role="button"] {
  cursor: pointer;
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
